nav ul{
    display: flex;
    gap: 10px;
    justify-content: right;
}
nav li{
    list-style: none;
}
.image{
    display: flex;
    justify-content: center;
    margin: 30px 60px;
}
.image img{
    width: 500px;
    height: 450px;
}