nav ul{
    display: flex;
    gap: 10px;
    justify-content: right;
}
nav li{
    list-style: none;
    
}
nav li a{
    color: white;
}
.image{
    display: flex;
    justify-content: center;
    margin: 30px 60px;
}
.image img{
    width: 500px;
    height: 450px;
}
.box{
    background-color: black;
}
/* .image-box{
     display: block;
} */
 img{
    width: 400px;
    height: 400px;
}